{include file="include/header.html"}

<div class="user_list">
    <h2>添加权限</h2>
    <form method="post" action="/topic/list.php" id="searchForm">
    <div class="list_t">
            <input class="find" type="text" name="searchContent" value="{$searchContent}" />
            <input class="btn" type="submit" name="submit" value="提交" />
    </div>
    </form>
</div>

{literal}
<script>
$(document).ready(function(){
});
</script>
{/literal}

{include file="include/footer.html"}
