{include file="include/header.html"}

{literal}
<style>
.selectPriv td {background:#95BDFA}
</style>
{/literal}

<form method="post" action="/privilege/groupedit.php?id={$groupinfo.id}" id="searchForm">
<div class="user_list">
    <h2>修改用户组权限</h2>
    <div class="list_t">
        <div class="chose">
            <p>组名：{$groupinfo.name}<br/>组描述：{$groupinfo.desc}</p>
            <input class="btn" type="submit" name="submit" value="提交修改" style="float:none;" />
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th width="20%">权限ID</th>
        <th width="20%">权限标志</th>
        <th width="20%">权限描述</th>
        <th width="20%">添加时间</th>
        <th width="20%">操作</th>
    </tr>
    {foreach from=$privileges item=privilege}
    <tr data-privid="{$privilege.id}" class="{if $privilege.own}selectPriv{/if}">
        <td>{$privilege.id}</td>
        <td>{$privilege.action}</td>
        <td>{$privilege.desc}</td>
        <td>{$privilege.addtime}</td>
        <td class="act-td">
        {if $privilege.own}
            <a class="notice addPrivilege" href="javascript:void(0);">
        	<input type="hidden" name="grouppriv[]" value="{$privilege.id}" >取消</a>
        {else}
        	<a class="notice addPrivilege" href="javascript:void(0);">添加</a>
        {/if}
        </td> 
    </tr>
    {/foreach}
</table>
</form>

<div class="page">
{$page}
</div>

{literal}
<script>
$(document).ready(function(){
    $('.addPrivilege').click(function(){
    	var privid = $(this).parents('tr').data('privid');
    	if ($(this).html()=='添加'){
    		$(this).parents('tr').addClass('selectPriv');
    		$(this).html('<input type="hidden" name="grouppriv[]" value="' + privid + '" >取消');
    	} else {
    		$(this).parents('tr').removeClass('selectPriv');
        	$(this).html('添加');
    	}
    });
});
</script>
{/literal}

{include file="include/footer.html"}
