{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">添加管理组</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/privilege/groupadd.php">
                        <fieldset>
                            <legend>添加管理组</legend>
                            <div class="control-group">
                                <label class="control-label">组名</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="typeahead" name="name">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">组描述</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="typeahead" name="desc">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">添加组</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">权限列表</div>
                    <div class="pull-right"><span class="badge badge-info">1,234</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>组ID</th>
						        <th>组名</th>
						        <th>组描述</th>
						        <th>添加时间</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$groups item=group}
						    <tr>
						        <td>{$group.id}</td>
						        <td>{$group.name}</td>
						        <td>{$group.desc}</td>
						        <td>{$group.addtime}</td>
						        <td>
						            <a href="/privilege/groupdel.php?id={$group.id}">删除</a>&nbsp;&nbsp;&nbsp;
						            <a href="/privilege/groupedit.php?id={$group.id}">编辑组权限</a>&nbsp;&nbsp;&nbsp;
						        </td> 
						    </tr>
						    {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>

{include file="include/footer.html"}