{include file="include/header.html"}
<div class="span9" id="content">
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">管理员列表</div>
                    <div class="pull-right"><span class="badge badge-info"><a href="/privilege/useradd.php">添加管理员</a></span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>管理员uid</th>
						        <th>管理员昵称</th>
						        <th>管理员真实姓名</th>
						        <th>添加时间</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$adminlist item=value}
						    <tr>
						        <td>{$value.uid}</td>
						        <td>{$value.nickname}</td>
						        <td>{$value.name}</td>
						        <td>{$value.addtime}</td>
						        <td>
						            <a href="/privilege/usergroup.php?uid={$value.uid}">所属组</a>
						            <a class="delete" id="{$value.uid}" href="javascript:void(0);">删除</a>
						        </td> 
						    </tr>
						    {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>

<script>
{literal}
$(function() {
    var opturl = "/privilege/userdelete.php";
    $(".delete").click(function(){
        $(".modal-body").text("");
        if(confirm("确定删除吗？")) {
            var uid = $(this).attr("id");
            $.post(opturl, {uid:uid}, function(data){
                if(data.code == "10000") {
                    $(".modal-body").text("删除成功");
                    $("#myModal").modal({show:true});
                    $("#modal_closebtn").click(function(){
                        location.href=location.href;
                    });
                } else {
                    $(".modal-body").text(data.desc);
                    $("#myModal").modal({show:true});
                }
            }, "json");
        }
    });
});
{/literal}
</script>

{include file="include/footer.html"}