{include file="include/header.html"}
<link href="/static/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
<script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<div class="span9" id="content">
    <div class="row-fluid">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">与昨日同比</div>
                <div class="pull-right"><span class="badge badge-warning"></span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.regrast}" data-symbol="{$lastdayrastlist.regsymbol}">{$lastdayrastlist.regsymbol}{$lastdayrastlist.regrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">注册用户</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.favrast}" data-symbol="{$lastdayrastlist.favsymbol}">{$lastdayrastlist.favsymbol}{$lastdayrastlist.favrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收藏故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.commentrast}" data-symbol="{$lastdayrastlist.commentsymbol}">{$lastdayrastlist.commentsymbol}{$lastdayrastlist.commentrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">评论故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.listenrast}" data-symbol="{$lastdayrastlist.listensymbol}">{$lastdayrastlist.listensymbol}{$lastdayrastlist.listenrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收听故事</span></div>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.downrast}" data-symbol="{$lastdayrastlist.downsymbol}">{$lastdayrastlist.downsymbol}{$lastdayrastlist.downrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">下载故事</span></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">与上周同比</div>
                <div class="pull-right"><span class="badge badge-warning"></span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.regrast}" data-symbol="{$lastweekrastlist.regsymbol}">{$lastweekrastlist.regsymbol}{$lastweekrastlist.regrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">注册用户</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.favrast}" data-symbol="{$lastweekrastlist.favsymbol}">{$lastweekrastlist.favsymbol}{$lastweekrastlist.favrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收藏故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.commentrast}" data-symbol="{$lastweekrastlist.commentsymbol}">{$lastweekrastlist.commentsymbol}{$lastweekrastlist.commentrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">评论故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.listenrast}" data-symbol="{$lastweekrastlist.listensymbol}">{$lastweekrastlist.listensymbol}{$lastweekrastlist.listenrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收听故事</span></div>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.downrast}" data-symbol="{$lastweekrastlist.downsymbol}">{$lastweekrastlist.downsymbol}{$lastweekrastlist.downrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">下载故事</span></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">手动更新</div>
                <div class="pull-right"><span class="badge badge-warning"></span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <button id="updateIndex" class="btn btn-large btn-default" type="button">更新首页</button>
                </div>
                <div class="span3">
                    <button id="updateAuthor" class="btn btn-large btn-default" type="button">更新作者专辑数</button>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<!--/.fluid-container-->
<script src="/static/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
<script>
{literal}
$(function() {
    // Easy pie charts
    //$('.chart').easyPieChart({animate: 1000, barColor: "#89DF81"});
    $('.chart').each(function(i){
    	var symbol = $(this).attr("data-symbol");
        if (symbol == "-") {
        	$(this).easyPieChart({animate: 1000, barColor: "#89DF81"});
        } else {
        	$(this).easyPieChart({animate: 1000});
        }
    });

    $('#updateIndex').click(function () {
        $.get('/redis/update_index.php',function (data) {
                toastr.success('操作成功');
        });
    });
    $('#updateAuthor').click(function () {
        $.get('/author/update_author.php',function (data) {
                toastr.success('操作成功');
        });
    });
});
{/literal}
</script>
{include file="include/footer.html"}