{include file="include/header.html"}
<link href="/static/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
<script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<div class="span9" id="content">
    <div class="row-fluid">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">与昨日同比</div>
                <div class="pull-right"><span class="badge badge-warning"></span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.regrast}">{$lastdayrastlist.regrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">注册用户</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.favrast}">{$lastdayrastlist.favrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收藏故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.commentrast}">{$lastdayrastlist.commentrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">评论故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.listenrast}">{$lastdayrastlist.listenrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收听故事</span></div>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastdayrastlist.downrast}">{$lastdayrastlist.downrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">下载故事</span></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">与上周同比</div>
                <div class="pull-right"><span class="badge badge-warning"></span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.regrast}">{$lastweekrastlist.regrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">注册用户</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.favrast}">{$lastweekrastlist.favrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收藏故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.commentrast}">{$lastweekrastlist.commentrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">评论故事辑</span></div>
                </div>
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.listenrast}">{$lastweekrastlist.listenrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">收听故事</span></div>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span3">
                    <div class="chart" data-percent="{$lastweekrastlist.downrast}">{$lastweekrastlist.downrast}%</div>
                    <div class="chart-bottom-heading"><span class="label label-info">下载故事</span></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<!--/.fluid-container-->
<script src="/static/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
<script>
{literal}
$(function() {
    // Easy pie charts
    $('.chart').easyPieChart({animate: 1000});
});
{/literal}
</script>
{include file="include/footer.html"}