{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">专辑列表筛选</div>
                <div class="pull-right"><a href="/album/album_add.php" class="badge badge-info">添加</a></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">专辑ID</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="albumid" value="{$search_filter.albumid}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">专辑名称</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="title" value="{$search_filter.title}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" id="list-filter">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">专辑列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>标题</th>
                                <th width="20%">标签</th>
						        <th>封面</th>
						        <th>排序</th>
                                <th>添加时间</th>
                                <th>是否显示</th>
						        <th>状态</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$albumList item=value}
                            <tr>
                                <td>{$value.id}</td>
                                <td>
                                    <a href="javascript:void(0);" id="op_album_view_{$value.id}_title">{$value.title}
                                    </a>
                                    <span class="badge">{$value.story_num}</span>
                                </td>
                                <td>
                                    {foreach from=$value.taglist item=taginfo}
                                        <span class="badge">{$taginfo.name}</span>
                                    {/foreach}
                                </td>
                                <td>
                                    <a href="javascript:void(0);" id="op_album_view_{$value.id}_cover">
                                        <img src="{$value.cover}" width="100" height="100" />
                                    </a>
                                </td>
                                <td>
                                    <input type="text" name="view_order" class="form-control" op_id="{$value.id}" old_val="{$value.view_order}" value="{$value.view_order}" style="width: 60px;" />
                                </td>
                                <td>{$value.add_time}</td>
                                <td>
                                    {if $value.is_show}
                                    <a href="javascript:void(0);" id="op_album_notshow_{$value.id}">取消</a>
                                    {else}
                                    <a href="javascript:void(0);" id="op_album_show_{$value.id}">显示</a>
                                    {/if}
                                </td>
                                <td>
                                    {if $value.status eq '0'}已删除
                                    {elseif $value.status eq 1}正常
                                    {/if}
                                </td>
                                <td>
                                    <a href="javascript:void(0);" id="op_album_view_{$value.id}">查看故事</a>
                                    {if $value.status eq 1}
                                    &nbsp;|&nbsp;<a href="javascript:void(0);" id="op_album_edit_{$value.id}">编辑</a>
                                    &nbsp;|&nbsp;<a href="javascript:void(0);" id="op_album_delete_{$value.id}">删除</a>
                                    {else}
                                    <a href="javascript:void(0);" id="op_album_recover_{$value.id}">恢复</a>
                                    {/if}
                                    <br />
                                    <a href="javascript:void(0);" class="recomment_hot" id="op_recommend_hot_{$value.id}">热门推荐</a>
                                    &nbsp;|&nbsp;<a href="/system/addnewonline.php?albumid={$value.id}">最新上架</a>
                                    &nbsp;|&nbsp;<a href="/system/addsameage.php?albumid={$value.id}">同龄在听</a>
                                    <br />
                                    <a href="/comment/collection.php?albumid={$value.id}">评论采集</a>
                                    &nbsp;|&nbsp;<a href="/comment/commentlist.php?albumid={$value.id}" target="_blank">查看评论</a>
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>


<script>
{literal}
$(function() {
    $("[id^='op_album']").on('click', function(){
    	var data = {};
    	var op = $(this).attr('id');
    	data.op_name = op.split('_')[2];
    	data.op_id   = op.split('_')[3];

        if (data.op_name == 'edit') {
            window.location.href = '/album/album_edit.php?id='+data.op_id+'&gourl='+window.location.href;
            return false;
        } else if (data.op_name == 'view') {
            window.open('/album/storylist.php?albumid='+data.op_id);
            return false;
        }
        console.log(data);
    	
    	$.post('/album/album_op.php', data, function(json){
    		if (json && json.code == 10000) {
                alert('操作成功');
                window.location.reload();
            } else {
                alert(json);
            }
    	},'json')
    })
    $("#list-filter").on('click', function(){
    	var url = window.location.href.split('?')[0];
        var params = '';
    	var data = {};
    	var form_element = $(this).closest("form").find('.auto_submit');
    	$.each(form_element, function(k,v){
            var k = $(v).attr('name');
    		var v = $(v).attr('value');
            params += k + '='+v+'&'
    		
    	})
        window.location.href = url+'?'+params;
    })
    $("[name='view_order']").on('change', function(){
        var old_val = parseInt($(this).attr('old_val'));
        var op_id   = parseInt($(this).attr('op_id'));
        var new_val = parseInt($(this).val());
        if (old_val == new_val) {
            alert('没有变化');
            return false;
        } else {
            var data = {};
            data.op_name = 'view_order';
            data.op_id   = op_id;
            data.value   = new_val;
            $.post('/album/album_op.php', data, function(json){
                if (json && json.code == 10000) {
                    alert('操作成功');
                    window.location.reload();
                } else {
                    alert(json);
                }
            },'json');
        }
    })
    
    $(".recomment_hot").on('click', function(){
    	$(".modal-body").text("");
        var data = {};
        var op = $(this).attr('id');
        data.albumid   = op.split('_')[3];
        $.post('/system/savehotrecommend.php', data, function(json){
        	if (json.code == 10000) {
                $(".modal-body").text("加入成功");
                $("#myModal").modal({show:true});
                $("#modal_closebtn").click(function(){
                    location.href=location.href;
                });
            } else {
                $(".modal-body").text(json.desc);
                $("#myModal").modal({show:true});
            }
        },'json')
    })
});
{/literal}
</script>
{include file="include/footer.html"}