{include file="include/header.html"}
<script src="/static/vendors/jquery.form.min.js"></script>
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left"></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" action="/album/story_edit.php">
                        <input type="hidden" name="id" value="{$storyinfo.id}"/>
                        <fieldset>
                            <legend>编辑故事</legend>
                            <div class="control-group">
                                <label class="control-label" for="date01">故事名称<span class="required">*</span></label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" name="title"
                                           value="{$storyinfo.title}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">简介</label>
                                <div class="controls">
                                    <textarea class="span6 m-wrap" name="intro">{$storyinfo.intro}</textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="date01">时长</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" name="times"
                                           value="{$storyinfo.times}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="date01">文件大小</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" name="file_size"
                                           value="{$storyinfo.file_size}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">封面</label>
                                <div class="controls">
                                    <div class="uploader" id="uniform-fileInput">
                                        <input class="input-file uniform_on" id="fileInput" type="file" name="cover">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" id="submit_form">提交</button>
                                <button type="reset" class="btn">重置</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>

    {$pageBanner}
</div>


<script>
    {literal}
    $(function () {
        function result(json) {
            if (json && json.code == 10000) {
                alert('操作成功');
                window.location.href = '/album/storylist.php';
            } else {
                var name = json.desc.split('-')[0];
                var msg = json.desc.split('-')[1];
                var errObj = $("[name='" + name + "']");
                errObj.closest(".control-group").addClass('error');
                errObj.after('<span for="' + name + '" class="help-inline">' + msg + '</span>');
            }
        }

        var options = {
            // target:        '#output',   // target element(s) to be updated with server response
            // beforeSubmit:  result,  // pre-submit callback
            success: result,  // post-submit callback
            error: result,  // post-submit callback
            resetForm: false,
            dataType: 'json',

            // other available options:
            url: '/album/story_edit.php',         // override for form's 'action' attribute
            type: 'post'        // 'get' or 'post', override for form's 'method' attribute
            // dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
            // clearForm: true        // clear all form fields after successful submit
            // resetForm: true        // reset the form after successful submit

            // $.ajax options can be used here too, for example:
            //timeout:   3000
        };

        $("#submit_form").on('click', function (e) {
            $(".help-inline").remove();
            e.preventDefault();
            $(".control-group").removeClass("error");
            $("form").ajaxSubmit(options);

            // !!! Important !!!
            // always return false to prevent standard browser submit and page navigation
            return false;
        })
    });
    {/literal}
</script>
{include file="include/footer.html"}