{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">专辑列表筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">专辑ID</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="albumid" value="{$search_filter.albumid}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">故事ID</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="storyid" value="{$search_filter.storyid}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">故事名称</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="title" value="{$search_filter.title}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" id="list-filter">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">专辑列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>标题</th>
						        <th>所属专辑</th>
                                <th>封面</th>
						        <th>添加时间</th>
						        <th>能否播放</th>
						        <th>状态</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$storyList item=value}
                            <tr>
                                <td>{$value.id}</td>
                                <td>{$value.title}</td>
                                <td>{if($value.albumtitle)}{$value.albumtitle}{else}无{/if}</td>
                                <td><img src="{$value.cover}" width="100" height="100" /></td>
                                <td>{$value.add_time}</td>
                                <!-- 
                                    TUDO:
                                    有时间了在用jplayer处理一下 
                                    http://jplayer.org/
                                -->
                                <td>
                                    {if $value.mediapath == ''}
                                        否
                                    {else}
                                        <audio class="span7" src="http://mf.xiaoningmeng.net/{$value.mediapath}" controls="controls">Your browser does not support the audio element.</audio>
                                        
                                    {/if}
                                </td>
                                <td>
                                    {if $value.status eq '0'}已删除
                                    {elseif $value.status eq 1}正常
                                    {/if}
                                </td>
                                <td>
                                    {if $value.status eq 1}
                                    <a href="javascript:void(0);" id="op_story_addalbum_{$value.id}">添加到专辑</a>
                                    &nbsp;|&nbsp;
                                    <a href="javascript:void(0);" id="op_story_edit_{$value.id}">编辑</a>
                                    &nbsp;|&nbsp;<a href="javascript:void(0);" id="op_story_delete_{$value.id}">删除</a>
                                    {else}
                                    <a href="javascript:void(0);" id="op_story_recover_{$value.id}">恢复</a>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>


<script>
{literal}
$(function() {
    $("[id^='op_story']").on('click', function(){
    	var data = {};
    	var op = $(this).attr('id');
    	data.op_name = op.split('_')[2];
    	data.op_id   = op.split('_')[3];

        if (data.op_name == 'edit') {
            window.location.href = '/album/story_edit.php?id='+data.op_id;
            return false;
        } else if (data.op_name == 'addalbum') {
            $(".modal-body").html(add_story_to_album_html);
            $(".modal-title").html('添加到专辑');
            $("#myModal").modal({show:true});
            // 绑定 查询
            $("#search_album_info").on('click', function(e){
                e.preventDefault();
                search_album_info($("[name='album_id']").val());
            })
            $("#submit_and_add_album").on('click', function(e){
                e.preventDefault();
                add_story_to_album(op_id, $("[name='album_id']").val());
            },'json')
            return false;
        } else if (data.op_name == 'delete') {
            if (!confirm('确定要执行删除操作吗？')) {
                return false;
            }
        } else if (data.op_name == 'recover') {
            if (!confirm('确定要执行恢复操作吗？')) {
                return false;
            }
        }
    	
    	$.post('/album/story_op.php', data, function(json){
    		if (json && json.code == 10000) {
                alert('操作成功');
                window.location.reload();
            } else {
                alert(json);
            }
    	},'json')
    })

    $("#list-filter").on('click', function(){
        var url = window.location.href.split('?')[0];
        var params = '';
        var data = {};
        var form_element = $(this).closest("form").find('.auto_submit');
        $.each(form_element, function(k,v){
            var k = $(v).attr('name');
            var v = $(v).attr('value');
            params += k + '='+v+'&'
            
        })
        window.location.href = url+'?'+params;
    })

    function search_album_info(albumid)
    {
        $.post('/album/album_info.php', {'albumid':albumid}, function(json){
            if (json && json.code == 10000) {
                $("[name='album_title']").val(json.data.title);
            } else {
                alert(json.desc);
            }
        },'json');
    }

    function add_story_to_album(storyid, albumid)
    {
        if (!storyid || !albumid) {
            return false;
        }
        $.post('/album/story_op.php', {'op_name':'add_story_to_album', 'albumid':albumid, 'storyid':storyid}, function(json){
            debugger;
            if (json && json.code == 10000) {
                $(".modal-body").text('操作成功');
                $(".modal-title").html('提示');
                $("#myModal").modal({show:true});
            } else {
                $(".modal-body").text(json.desc);
                $(".modal-title").html('提示');
                $("#myModal").modal({show:true});
            }
        },'json');
    }


    var add_story_to_album_html = '<form class="form-horizontal" enctype="multipart/form-data" method="post">\
    <input type="hidden" name="" value="">\
    <fieldset>\
        <div class="control-group">\
            <label class="control-label" for="date01">专辑ID<span class="required">*</span></label>\
            <div class="controls">\
                <input type="text" class="input-xlarge datepicker" name="album_id" value="" autocomplete="off">&nbsp;&nbsp;\
                <a href="javascript:void(0);" class="btn btn-default" id="search_album_info">查询</a>\
            </div>\
        </div>\
        <div class="control-group">\
            <label class="control-label" for="date01">专辑名称</label>\
            <div class="controls">\
                <input type="text" class="input-xlarge datepicker" name="album_title" value="" readonly="true">\
            </div>\
        </div>\
        <div class="form-actions">\
            <button type="submit" class="btn btn-primary" id="submit_and_add_album">提交</button>\
            <button type="reset" class="btn">重置</button>\
        </div>\
    </fieldset>\
</form>';
});
{/literal}
</script>
{include file="include/footer.html"}