<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Lemon-管理后台</title>
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="/static/vendors/jquery-1.9.1.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/assets/scripts.js"></script>
</head>
<body>
    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">提醒</h4>
	      </div>
	      <div class="modal-body"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal_closebtn">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/index.php">小柠檬</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {$headerdata.userinfo.nickname} <i class="caret"></i></a>
                            <ul class="dropdown-menu">
                                <!-- <li class="divider"></li> -->
                                <li>
                                    <a tabindex="-1" href="/user/logout.php">退出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="{$indexactive}"><a href="/index.php">首页</a></li>
                        <li class="{$privilege}"><a href="/privilege/userlist.php">权限管理</a></li>
                        <li class="{$useractive}"><a href="/user/getuserlist.php">用户管理</a></li>
                        <li class="dropdown {$albumactive}{$storyactive}">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">专辑故事 <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="menu1">
                                <li class="{$albumactive}"><a href="/album/index.php">专辑管理</a></li>
                                <li class="{$storyactive}"><a href="/album/storylist.php">故事管理</a></li>
                            </ul>
                        </li>
                        <li class="{$commentlistactive}{$commentcollectionactive}{$tagactive}"><a href="/comment/commentlist.php">评论管理</a></li>
                        <li class="{$analyticsactive}"><a href="/analytics/searchcontentlist.php">统计相关</a></li>
                        <li class="{$feedbackactive}"><a href="/user/feedback.php">用户反馈</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar">
			    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
			         {if $indexactive}
				         <li class="{$indexside}"><a href="/index.php"><i class="icon-chevron-right"></i>首页</a></li>
				         <li class="{$focusside}"><a href="/system/focuslist.php"><i class="icon-chevron-right"></i>焦点图</a></li>
				         <li class="{$hotrecommendside}"><a href="/system/hotrecommendlist.php"><i class="icon-chevron-right"></i>热门推荐</a></li>
				         <li class="{$sameageside}"><a href="/system/sameagelist.php"><i class="icon-chevron-right"></i>同龄在听</a></li>
				         <li class="{$newonlineside}"><a href="/system/newonlinelist.php"><i class="icon-chevron-right"></i>最新上架</a></li>
			         {elseif $privilege}
				         <li class="{$userlistside}"><a href="/privilege/userlist.php"><i class="icon-chevron-right"></i>管理员列表</a></li>
				         <li class="{$grouplistside}"><a href="/privilege/grouplist.php"><i class="icon-chevron-right"></i>管理组列表</a></li>
				         <li class="{$listside}"><a href="/privilege/list.php"><i class="icon-chevron-right"></i>权限列表</a></li>
			         {elseif $useractive}
			             <li class="{$getuserlistside}"><a href="/user/getuserlist.php"><i class="icon-chevron-right"></i>用户列表</a></li>
			             <li class="{$getfavlistside}"><a href="/fav/getfavlist.php"><i class="icon-chevron-right"></i>收藏列表</a></li>
			             <li class="{$getdownloadlistside}"><a href="/download/getdownloadlist.php"><i class="icon-chevron-right"></i>下载列表</a></li>
			             <li class="{$getlistenlistside}"><a href="/listen/getlistenlist.php"><i class="icon-chevron-right"></i>收听历史</a></li>
			             <li class="{$userimsilistside}"><a href="/user/userimsilist.php"><i class="icon-chevron-right"></i>用户与设备关联信息</a></li>
			             <li class="{$userimsiactionlogside}"><a href="/user/userimsiactionlog.php"><i class="icon-chevron-right"></i>用户与设备行为日志</a></li>
			             <li class="{$userloginlogside}"><a href="/user/userloginlog.php"><i class="icon-chevron-right"></i>用户登录日志</a></li>
			             <li class="{$systemuserlistside}"><a href="/user/systemuserlist.php"><i class="icon-chevron-right"></i>系统僵尸用户列表</a></li>
			         {elseif ($albumactive || $storyactive)}
				         <li class="{$albumactive}"><a href="/album/index.php"><i class="icon-chevron-right"></i>专辑列表</a></li>
				         <li class="{$storyactive}"><a href="/album/storylist.php"><i class="icon-chevron-right"></i>故事列表</a></li>
                     {elseif ($commentlistactive || $commentcollectionactive || $tagactive)}
                         <li class="{$commentcollectionactive}"><a href="/comment/collection.php"><i class="icon-chevron-right"></i>评论采集</a></li>
                         <li class="{$commentlistactive}"><a href="/comment/commentlist.php"><i class="icon-chevron-right"></i>评论列表</a></li>
                         <li class="{$tagactive}"><a href="/comment/taglist.php"><i class="icon-chevron-right"></i>标签列表</a></li>
                     {elseif $analyticsactive}
                         <li class="{$searchcontentlistside}"><a href="/analytics/searchcontentlist.php"><i class="icon-chevron-right"></i>搜索关键词统计</a></li>
                         <li class="{$analyticsregside}"><a href="/analytics/analyticsreg.php"><i class="icon-chevron-right"></i>注册用户统计</a></li>
                         <li class="{$analyticsfavside}"><a href="/analytics/analyticsfav.php"><i class="icon-chevron-right"></i>收藏统计</a></li>
                         <li class="{$analyticslistenside}"><a href="/analytics/analyticslisten.php"><i class="icon-chevron-right"></i>收听历史统计</a></li>
                         <li class="{$analyticsdownside}"><a href="/analytics/analyticsdown.php"><i class="icon-chevron-right"></i>下载统计</a></li>
                         <li class="{$analyticscommentside}"><a href="/analytics/analyticscomment.php"><i class="icon-chevron-right"></i>评论统计</a></li>
			         {/if}
			    </ul>
			</div>
            <!--/span-->