<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Lemon-管理后台</title>
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="/static/vendors/jquery-1.9.1.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/assets/scripts.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/index.php">Lemon</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {$userinfo.nickname} <i class="caret"></i></a>
                            <ul class="dropdown-menu">
                                <!-- <li class="divider"></li> -->
                                <li>
                                    <a tabindex="-1" href="/user/logout.php">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="{$indexactive}"><a href="/index.php">首页</a></li>
                        <li class="{$privilege}"><a href="/privilege/userlist.php">权限管理</a></li>
                        <li class="{$useractive}"><a href="/user/getuserlist.php">用户管理</a></li>
                        <li class="dropdown {$albumactive}">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">专辑故事 <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="menu1">
                                <li><a href="#">专辑管理</a></li>
                                <li><a href="#">故事管理</a></li>
                            </ul>
                        </li>
                        <li class="{$commentactive}"><a href="#">评论管理</a></li>
                        <li class="{$anactive}"><a href="#">统计相关</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar">
			    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
			         {if $indexactive}
				         <li class="{$indexside}"><a href="/index.php"><i class="icon-chevron-right"></i>首页</a></li>
				         <li class="{$focusside}"><a href="/system/focuslist.php"><i class="icon-chevron-right"></i>焦点图</a></li>
				         <li class="{$hotrecommendside}"><a href="/system/hotrecommendlist.php"><i class="icon-chevron-right"></i>热门推荐</a></li>
				         <li class="{$sameageside}"><a href="/system/sameagelist.php"><i class="icon-chevron-right"></i>同龄在听</a></li>
				         <li class="{$newonlineside}"><a href="/system/newonlinelist.php"><i class="icon-chevron-right"></i>最新上架</a></li>
			         {elseif $privilege}
				         <li class="{$userlistside}"><a href="/privilege/userlist.php"><i class="icon-chevron-right"></i>管理员列表</a></li>
				         <li class="{$grouplistside}"><a href="/privilege/grouplist.php"><i class="icon-chevron-right"></i>管理组列表</a></li>
				         <li class="{$listside}"><a href="/privilege/list.php"><i class="icon-chevron-right"></i>权限列表</a></li>
			         {elseif $useractive}
			             <li class="{$getuserlistside}"><a href="/user/getuserlist.php"><i class="icon-chevron-right"></i>用户列表</a></li>
			         {elseif $albumactive}
				         <li class=""><a href="#"><i class="icon-chevron-right"></i>专辑列表</a></li>
				         <li class=""><a href="#"><i class="icon-chevron-right"></i>故事列表</a></li>
			         {/if}
			    </ul>
			</div>
            <!--/span-->