{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">添加焦点图分类</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/system/savefocuscategory.php" enctype="multipart/form-data">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">分类描述</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="name" name="name" placeholder="" value="{$focusinfo.linkurl}">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">英文简称</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="en_name" name="en_name" placeholder="" value="{$focusinfo.linkurl}">
                                    <p class="help-block">做为前台读取的标识</p>
                                </div>
                            </div>

                            <input type="hidden" id="focus_category_id" name="focus_category_id" value="{$focusinfo.id}" />
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>

</div>


<script>
    {literal}
    $(function() {

    });
    {/literal}
</script>
{include file="include/footer.html"}