{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">热门推荐</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="###">
                        <fieldset>
                            <legend>热门推荐专辑</legend>
                            <div class="control-group">
                                <label class="control-label">专辑名称</label>
                                <div class="controls">
                                    {$albuminfo.title}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">专辑封面</label>
                                <div class="controls">
                                    {$albuminfo.cover}
                                </div>
                            </div>
                            <input type="hidden" id="albumid" name="albumid" value="{$albuminfo.id}" />
                            <input type="hidden" id="refer" name="refer" value="{$refer}" />
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">加入热门推荐</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
</div>

<script>
{literal}
$(function() {
    $("#btn-primary").click(function(){
        $(".modal-body").text("");
        var albumid = $("#albumid").val();
        var refer = $("#refer").val();
        var url = "/system/savehotrecommend.php";
        $.post(url, {albumid:albumid}, function(data){
            if(data.code == '10000') {
            	if (refer == '') {
            		location.href = '/system/hotrecommendlist.php';
            	} else {
            		location.href = refer;
            	}
            } else {
                $(".modal-body").text(data.desc);
                $("#myModal").modal({show:true});
                return false;
            }
        }, "json");
    });
});
{/literal}
</script>
{include file="include/footer.html"}