{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left"><a href="#" onclick="history.back(-1);return false;">返回专辑列表</a></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" >
                        <fieldset>
                            <legend>加入同龄在听</legend>
                            <div class="control-group">
                                <label class="control-label">专辑名称</label>
                                <div class="controls">{$albuminfo.title}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">专辑封面</label>
                                <div class="controls"><img src="{$albuminfo.cover}" /></div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">适合年龄段</label>
                                <div class="controls">
                                    <select id="selectError" name="agetype">
                                        {foreach from=$agetypenamelist item=value key=key}
                                        <option {if $albuminfo.age_type==$key}selected{/if} value="{$key}">{$value}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="albumid" name="albumid" value="{$albuminfo.id}" />
                            <input type="hidden" id="refer" name="refer" value="{$refer}" />
                            <div class="form-actions">
                                <button type="button" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
</div>

<script>
{literal}
$(function() {
	$(".btn-primary").click(function(){
        $(".modal-body").text("");
        var albumid = $("#albumid").val();
        var refer = $("#refer").val();
        var agetype = $("select[name='agetype']").val();
        var url = "/system/savesameage.php";
        $.post(url, {albumid:albumid, agetype:agetype}, function(data){
            if(data.code == '10000') {
            	$(".modal-body").text("操作成功");
                $("#myModal").modal({show:true});
                $("#modal_closebtn").click(function(){
                    location.href = refer;
                });
            } else {
                $(".modal-body").text(data.desc);
                $("#myModal").modal({show:true});
                return false;
            }
        }, "json");
    });
});
{/literal}
</script>
{include file="include/footer.html"}