{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">热门推荐查询</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/system/hotrecommentlist.php">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">条件</label>
                                <div class="controls">
                                    <select id="selectError" name="searchCondition">
                                        <option {if $searchCondition=="uid"}selected{/if} value="uid">用户UID</option>
                                        <option {if $searchCondition=="nickname"}selected{/if} value="nickname">昵称</option>
                                    </select>
                                    <p class="help-block">请选择查询条件</p>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">内容</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="typeahead" name="searchContent" value="{$searchContent}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">热门专辑列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>专辑id</th>
						        <th>专辑标题</th>
						        <th>封面</th>
						        <th>排序</th>
						        <th>添加时间</th>
						        <th>状态</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$userList item=value}
                            <tr>
                                <td>{$value.uid}</td>
                                <td>{$value.nickname}</td>
                                <td>{$value.avatar}</td>
                                <td>{$value.addtime}</td>
                                <td>
                                    {if $value.status eq '-3'}已删除
                                    {elseif $value.status eq '-2'}已封号
                                    {elseif $value.status eq '-1'}已冻结
                                    {elseif $value.status eq 1}正常
                                    {/if}
                                </td>
                                <td>
                                    {if $value.status eq 1}
                                    <a href="javascript:void(0);" id="{$value.id}" class="offline">下线</a>
                                    {/if}
                                    {if $value.status eq 2}
                                    <a href="javascript:void(0);" id="{$value.id}" class="online">上线</a>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>


<script>
{literal}
$(function() {
    
});
{/literal}
</script>
{include file="include/footer.html"}