<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js">
	<head>
	   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	    <title>登录</title>
	    <!-- Bootstrap -->
	    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	    <link href="/static/assets/styles.css" rel="stylesheet" media="screen">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    <script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
    <body id="login">
	    <div class="container">
	      <form class="form-signin">
	        <h2 class="form-signin-heading">请登录</h2>
	        <input type="text" class="input-block-level" placeholder="Email address">
	        <input type="password" class="input-block-level" placeholder="Password">
	        <label class="checkbox">
	          <input type="checkbox" value="remember-me"> 记住我
	        </label>
	        <button class="btn btn-large btn-primary" type="submit">登录</button>
	      </form>
	
	    </div> <!-- /container -->
	    <script src="/static/vendors/jquery-1.9.1.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
    {literal}
    <script>
    
    </script>
    {/literal}
</html>