<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js">
	<head>
	   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	    <title>登录</title>
	    <!-- Bootstrap -->
	    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	    <link href="/static/assets/styles.css" rel="stylesheet" media="screen">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    <script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
    <body id="login">
        <!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">提醒</h4>
		      </div>
		      <div class="modal-body"></div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>
        
	    <div class="container">
	      <div class="form-signin">
	        <h2 class="form-signin-heading">请登录</h2>
	        <input type="text" class="input-block-level" id="username" placeholder="用户名">
	        <input type="password" class="input-block-level" id="password" placeholder="密码">
	        <button class="btn btn-large btn-primary" type="submit" id="loginbtn">登录</button>
	      </div>
	    <script src="/static/vendors/jquery-1.9.1.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
    {literal}
    <script>
    $(function(){
        $("#loginbtn").click(function(){
        	$(".modal-body").text("");
            var username = $("#username").val();
            var password = $("#password").val();
            if(username == '' || password == '') {
                $(".modal-body").text("用户名或密码不能为空");
                $("#myModal").modal({show:true});
                return false;
            }
            
            var url = "/user/loginsave.php";
            $.post(url, {username:username, password:password}, function(data){
                if(data.code == '10000') {
                    location.href = '/index.php';
                } else {
                    $(".modal-body").text(data.desc);
                    $("#myModal").modal({show:true});
                    return false;
                }
            }, "json");
        });
    });
    </script>
    {/literal}
</html>