{include file="include/header.html"}
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">系统僵尸用户筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/user/systemuserlist.php">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">条件</label>
                                <div class="controls">
                                    <select id="selectError" name="searchCondition">
                                        <option {if $searchCondition=="uid"}selected{/if} value="uid">系统用户UID</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">状态</label>
                                <div class="controls">
                                    <select id="selectError" name="status">
                                        <option {if $searchCondition=="0"}selected{/if} value="0">全部</option>
                                        <option {if $searchCondition=="1"}selected{/if} value="1">已激活</option>
                                        <option {if $searchCondition=="2"}selected{/if} value="2">未激活</option>
                                    </select>
                                    <p class="help-block">请选择查询条件</p>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">内容</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="typeahead" name="searchContent" value="{$searchContent}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">系统用户列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>系统Uid</th>
                                <th>昵称</th>
                                <th>头像</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$list item=value}
                            <tr>
                                <td>{$value.uid}</td>
                                <td>{$value.userinfo.nickname}</td>
                                <td>{$value.userinfo.avatar}</td>
                                <td>{if $value.status == 1}已激活{else if $value.status == 2}未激活{/if}</td>
                                <td>
                                    {if $value.status == 1}
                                    <a href="">取消</a>
                                    &nbsp;
                                    {elseif $value.status == 2}
                                    <a href="">激活</a>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>


<script>
{literal}
$(function() {
    
});
{/literal}
</script>
{include file="include/footer.html"}