{include file="include/header.html"}
<script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">收听故事统计筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="get" action="/analytics/analyticslisten.php">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">类型</label>
                                <div class="controls">
                                    <select id="selectError" name="showflag">
                                        <option {if $showflag=="daylistennum"}selected{/if} value="daylistennum">收听量</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="date01">开始时间</label>
                                <div class="controls">
                                    <input type="text" id="date01" class="input-xlarge datepicker" name="stime" value="{$stime}">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="date02">结束时间</label>
                                <div class="controls">
                                    <input type="text" id="date02" class="input-xlarge datepicker" name="etime" value="{$etime}">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
     <!-- morris stacked chart -->
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">统计曲线图</div>
                <div class="pull-right"><span class="badge badge-warning">&nbsp;</span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div id="hero-area" style="height: 250px;"></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>

</div>

<link href="/static/vendors/datepicker.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/static/vendors/morris/morris.css">
<script src="/static/vendors/bootstrap-datepicker.js"></script>
<script src="/static/vendors/raphael-min.js"></script>
<script src="/static/vendors/morris/morris.min.js"></script>
<script>
var datajson = {$data};
{literal}
// Morris Area Chart
Morris.Area({
    element: 'hero-area',
    /*data: [
        {'period': '2013-03-01', 'totalnum': 100, 'personnum': 300},
        {'period': '2013-03-02', 'totalnum': 2778, 'personnum': 1969},
        //{period: '2010 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
        
    ],*/
    data: datajson,
    xkey: 'period',
    ykeys: ['num'],
    labels: ['收听量'],
    lineWidth: 3,
    hideHover: 'auto',
    lineColors: ["#67bdf8"]
});

$(function() {
    $(".datepicker").datepicker();
});
{/literal}
</script>

{include file="include/footer.html"}