{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">收藏专辑统计筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/analytics/analyticsfav.php">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">类型</label>
                                <div class="controls">
                                    <select id="selectError" name="showflag">
                                        <option {if $showflag=="ndaylist"}selected{/if} value="fbl">收藏量</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="date01">开始时间</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" id="stime" value="{$stime}">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="date01">结束时间</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" id="etime" value="{$etime}">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
     <!-- morris stacked chart -->
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">统计曲线图</div>
                <div class="pull-right"><span class="badge badge-warning">更多</span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div id="hero-area" style="height: 250px;"></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>

</div>

<!--/.fluid-container-->
<link rel="stylesheet" href="/static/vendors/morris/morris.css">
<script src="/static/vendors/raphael-min.js"></script>
<script src="/static/vendors/morris/morris.min.js"></script>
<script>
{literal}
// Morris Area Chart
Morris.Area({
    element: 'hero-area',
    data: [
        {'period': '2013-03-01', 'totalnum': 2666, 'personnum': 1969},
        {'period': '2013-03-02', 'totalnum': 2778, 'personnum': 1969},
        //{period: '2010 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
        
    ],
    xkey: 'period',
    ykeys: ['totalnum', 'personnum'],
    labels: ['收藏量', '收藏人数'],
    lineWidth: 2,
    hideHover: 'auto',
    lineColors: ["#a6e182", "#67bdf8"]
});
{/literal}
</script>

{include file="include/footer.html"}