{include file="include/header.html"}
<script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">收听故事统计筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/analytics/analyticslisten.php">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">类型</label>
                                <div class="controls">
                                    <select id="selectError" name="showflag">
                                        <option {if $showflag=="fbl"}selected{/if} value="fbl">收听量走势</option>
                                        <option {if $showflag=="drb"}selected{/if} value="drb">收听量单日对比</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="date01">开始时间/单日时间</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" id="stime" value="{$stime}">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="date01">结束时间/单日时间</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge datepicker" id="etime" value="{$etime}">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
     <!-- morris stacked chart -->
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">统计曲线图</div>
                <div class="pull-right"><span class="badge badge-warning">&nbsp;</span></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div id="hero-area" style="height: 250px;"></div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>

</div>

<!--/.fluid-container-->
<link rel="stylesheet" href="/static/vendors/morris/morris.css">
<script src="/static/vendors/jquery.knob.js"></script>
<script src="/static/vendors/raphael-min.js"></script>
<script src="/static/vendors/morris/morris.min.js"></script>
<script src="/static/vendors/flot/jquery.flot.js"></script>
<script src="/static/vendors/flot/jquery.flot.categories.js"></script>
<script src="/static/vendors/flot/jquery.flot.pie.js"></script>
<script src="/static/vendors/flot/jquery.flot.time.js"></script>
<script src="/static/vendors/flot/jquery.flot.stack.js"></script>
<script src="/static/vendors/flot/jquery.flot.resize.js"></script>
<script>
{literal}
// Morris Area Chart
Morris.Area({
    element: 'hero-area',
    data: [
        {period: '2010 Q1', iphone: 2666, ipad: null, itouch: 2647},
        {period: '2010 Q2', iphone: 2778, ipad: 2294, itouch: 2441},
        {period: '2010 Q3', iphone: 4912, ipad: 1969, itouch: 2501},
        {period: '2010 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
        {period: '2011 Q1', iphone: 6810, ipad: 1914, itouch: 2293},
        {period: '2011 Q2', iphone: 5670, ipad: 4293, itouch: 1881},
        {period: '2011 Q3', iphone: 4820, ipad: 3795, itouch: 1588},
        {period: '2011 Q4', iphone: 15073, ipad: 5967, itouch: 5175},
        {period: '2012 Q1', iphone: 10687, ipad: 4460, itouch: 2028},
        {period: '2012 Q2', iphone: 8432, ipad: 5713, itouch: 1791}
    ],
    xkey: 'period',
    ykeys: ['iphone', 'ipad', 'itouch'],
    labels: ['iPhone', 'iPad', 'iPod Touch'],
    lineWidth: 2,
    hideHover: 'auto',
    lineColors: ["#81d5d9", "#a6e182", "#67bdf8"]
});
{/literal}
</script>

{include file="include/footer.html"}