{include file="include/header.html"}
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">搜索统计筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" method="post" action="/analytics/searchcontentlist.php">
                        <fieldset>
                            <legend></legend>
                            <div class="control-group">
                                <label class="control-label">条件</label>
                                <div class="controls">
                                    <select id="selectError" name="searchCondition">
                                        <option value="">全部</option>
                                        <option {if $searchCondition=="searchcontent"}selected{/if} value="searchcontent">关键词</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">状态</label>
                                <div class="controls">
                                    <select id="selectError" name="status">
                                        <option value="0">全部</option>
                                        <option {if $searchCondition=="1"}selected{/if} value="1">热门</option>
                                        <option {if $searchCondition=="2"}selected{/if} value="2">非热门</option>
                                    </select>
                                    <p class="help-block">请选择查询条件</p>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">内容</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="typeahead" name="searchContent" value="{$searchContent}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">搜索列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
						        <th>关键词</th>
						        <th>搜索次数</th>
						        <th>热门关键词</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$list item=value}
                            <tr>
                                <td>{$value.id}</td>
                                <td>{$value.searchcontent}</td>
                                <td>{$value.count}</td>
                                <td>{if $value.status == 1}是{else if $value.status == 2}不是{/if}</td>
                                <td>
                                    {if $value.status == 1}
                                    <a href="javascript:void(0);" id="{$value.id}" class="offline">取消热门</a>
                                    &nbsp;
                                    {elseif $value.status == 2}
                                    <a href="javascript:void(0);" id="{$value.id}" class="online">加入热门</a>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>


<script>
{literal}
$(function() {
	var seturl = "/analytics/setsearchcontentstatus.php";
    $(".offline").click(function(){
        $(".modal-body").text("");
        if(confirm("确定取消热门吗？")) {
            var id = $(this).attr("id");
            $.post(delurl, {id:id, status:2}, function(data){
                if(data.code == "10000") {
                    $(".modal-body").text("取消热门成功");
                    $("#myModal").modal({show:true});
                    $("#modal_closebtn").click(function(){
                        location.href = location.href;
                    });
                } else {
                    $(".modal-body").text(data.desc);
                    $("#myModal").modal({show:true});
                }
            }, "json");
        }
    });
    
    $(".online").click(function(){
        $(".modal-body").text("");
        if(confirm("确定加入热门吗？")) {
            var id = $(this).attr("id");
            $.post(delurl, {id:id, status:1}, function(data){
                if(data.code == "10000") {
                    $(".modal-body").text("加入热门成功");
                    $("#myModal").modal({show:true});
                    $("#modal_closebtn").click(function(){
                        location.href = location.href;
                    });
                } else {
                    $(".modal-body").text(data.desc);
                    $("#myModal").modal({show:true});
                }
            }, "json");
        }
    });
});
{/literal}
</script>
{include file="include/footer.html"}