{include file="include/header.html"}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">评论列表筛选</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>搜索查询</legend>
                            <div class="control-group">
                                <label class="control-label">专辑ID</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="albumid" value="{$searchFilter.albumid}">
                                        <option value="">评论名称</option>
                                    </select>
                                    <p class="help-block">请选择查询条件</p>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">内容</label>
                                <div class="controls">
                                    <input type="text" class="span6 auto_submit" name="content" value="{$searchFilter.content}">
                                    <p class="help-block">输入查询内容</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" id="list-filter">确定</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    
    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">评论列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th width="100">用户ID</th>
                                <th width="100">专辑ID</th>
						        <th width="400">评论内容</th>
                                <th>星级</th>
						        <th>添加时间</th>
						        <th>状态</th>
						        <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$commentList item=value}
                            <tr>
                                <td>{$value.id}</td>
                                <td>{$value.userid}</td>
                                <td>{$value.albumid}</td>
                                <td>
                                  <div id="comment_show_{$value.id}">{$value.content}</div>
                                  <div id="comment_edit_{$value.id}" style="display:none;">
                                    <textarea id="op_comment__edit_content__{$value.id}">{$value.content}</textarea>
                                  </div>
                                </td>
                                <td><input type="text" id="op_comment__edit_star_level__{$value.id}" value="{$value.star_level}" style="width:20px;" /></td>
                                <td>{$value.addtime}</td>
                                <td>
                                    {if $value.status eq '0'}已删除
                                    {elseif $value.status eq 1}正常
                                    {/if}
                                </td>
                                <td>
                                    {if $value.status eq 1}
                                    <a href="javascript:void(0);" id="op_comment__delete__{$value.id}">删除</a>
                                    {else}
                                    <a href="javascript:void(0);" id="op_comment__recover__{$value.id}">恢复</a>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    
    {$pageBanner}
</div>


<script>
{literal}
$(function() {
    $("[id^='op_comment__delete'],[id^='op_comment__recover']").on('click', function(){
    	var data = {};
    	var op = $(this).attr('id');
    	data.op_name = op.split('__')[2];
    	data.op_id   = op.split('__')[3];

    	$.post('/comment/comment_op.php', data, function(json){
    		if (json && json.code == 10000) {
                alert('操作成功');
                window.location.reload();
            } else {
                alert(json);
            }
    	},'json')
    })
    $("[id^='comment_show_']").on('click', function(e){
      $("[id^='comment_show_']").show();
      $("[id^='comment_edit_']").hide();
      $(this).hide();
      $(this).next().show();
    })
    $("[id^='op_comment__edit_']").on('blur', function(e){
      var op = $(this).attr('id');
      var data = {};
      data.op_name = op.split('__')[1];
      data.op_id = op.split('__')[2];
      data.value = $(this).val();
      if (data.op_name == 'edit_content') {
        data.value   = $(this).val();
      } else if (data.op_name == 'edit_star_level') {
        data.value   = $(this).val();
      }
      $.post('/comment/comment_op.php', data, function(json){
            if (json && json.code == 10000) {
                alert('操作成功');
                window.location.reload();
            } else {
                alert(json);
            }
        },'json')
    })
    $("#list-filter").on('click', function(){
    	var url = window.location.href.split('?')[0];
    	var data = {};
    	var form_element = $(this).closest("form").find('.auto_submit');
    	$.each(form_element, function(k,v){
    		$(v).attr('name')
    		// eval('data.' + ) = '';
    	})
    })
});
{/literal}
</script>
{include file="include/footer.html"}