{include file="include/header.html"}
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">当当数据列表筛选</div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">当当数据列表</div>
                    <div class="pull-right"><span class="badge badge-info">{$totalCount}</span></div>
                </div>
            </div>

            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                        <th>当当id</th>
                        <th>书名</th>
                        <th>作者</th>
                        <th>作者简介</th>
                        <th>编辑推荐</th>
                    </thead>
                    <tbody>
                        {foreach from=$ddList item=value}
                        <tr>
                            <td>{$value.dd_id}</td>
                            <td><a href="{$value.url}" target="_blank"> {$value.title}</a></td>
                            <td>{$value.author}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{include file="include/footer.html"}